mixin mousepad(name)
    label.mousepad
        input(data-text=name)
        span

mixin modifier(code, mode)
    label.sticky
        input(type="checkbox" data-modifier=code data-mode=mode)
        span(data-modifier-name=code)

//- see keyboard.modifiers
mixin modifiers(mode)
    +modifier(1 << 10, mode)
    +modifier(1 << 11, mode)
    +modifier(1 << 12, mode)
    +modifier(1 << 13, mode)

- var baseUrl = 'https://merribithouse.net/copytables'


doctype html
html
    head
        title Copytables Options
        script(src="options.js")
        link(rel="stylesheet" type="text/css" href="options.css")

    body

        h1 Copytables options

        h2 Modifier keys
        h3
            | Configure modifier keys for click-and-drag selection.
            | Note: some combinations might conflict with your system setup.

        .box
            table
                tr
                    td
                        b To select cells, hold
                    td
                        +modifiers('cell')
                tr
                    td
                        b To select columns, hold
                    td
                        +modifiers('column')
                tr
                    td
                        b To select rows, hold
                    td
                        +modifiers('row')
                tr
                    td
                        b To select tables, hold
                    td
                        +modifiers('table')
                tr
                    td
                        b To extend a selection, hold
                    td
                        +modifiers('extend')


        h2 Capture mode
        h3
            | Press a hot key to turn on the capture mode and then select with a simple click-and-drag.

        .box
            table
                tr
                    td: b Enable
                    td
                        label.cb
                            input(type="checkbox" data-bool="capture.enabled")
                            span Yes
                tr
                    td
                        b Reset
                        i Automatically turn the capture mode off after selecting.
                    td
                        label.cb
                            input(type="checkbox" data-bool="capture.reset")
                            span Yes
                tr
                    td: b Keyboard shortcuts
                    td
                        a(href="#" data-command="openConfigureCommands") Configure


        h2 Copy formats
        h3 Select copy formats you want to use. "Default" format is used when you select "Copy" from the Chrome menu.

        .box#copy-formats

        h2 Infobar
        h3 Infobar shows useful information about your selection (sum/average of numeric values etc).

        .box
            table
                tr
                    td: b Enable
                    td
                        label.cb
                            input(type="checkbox" data-bool="infobar.enabled")
                            span Yes
                tr
                    td
                        b Auto-hide
                        i Hide the infobar after selecting.
                    td
                        label.cb
                            input(type="checkbox" data-bool="infobar.reset")
                            span Yes


        h2 Support
        h3
            | If you have questions or want to report a bug, don't hesitate to contact the developer.
            | This extension is open source, Javascript programmers are welcome to fork and improve it.

        .box

            p
                a(href=baseUrl) About
                | &nbsp;|&nbsp;
                a(href="https://github.com/gebrkn/copytables") Source code
                | &nbsp;|&nbsp;
                | &copy; 2014~present Georg Barikin

